---
# Argument specification file for host_segments

argument_specs:
  main:
    options:

      host_segments_network_role:
        type: str
        choices:
          - spine
          - leaf
          - service-leaf
          - border-leaf
