---
# tasks file for verify

- name: Verify fabric underlay.
  block:

    - name: Get OSPF neighbors.
      cisco.nxos.nxos_command:
        commands:
          - show ip ospf neighbors
      register: __verify_ospf_neighbors

    - name: Print info about OSPF.
      ansible.builtin.debug:
        msg: Spines should be neighbor with all leafs and border-leafs.
        verbosity: 0
      run_once: true

    - name: Print show ip ospf neighbors.
      ansible.builtin.debug:
        msg: "{{ __verify_ospf_neighbors['stdout_lines'][0] }}"
        verbosity: 0

    - name: Get PIM neighbors.
      cisco.nxos.nxos_command:
        commands:
          - show ip pim neighbor
      register: __verify_pim_neighbors

    - name: Print info about PIM.
      ansible.builtin.debug:
        msg: Spines should be neighbor with all leafs and border-leafs.
        verbosity: 0
      run_once: true

    - name: Print show pim neighbor.
      ansible.builtin.debug:
        msg: "{{ __verify_pim_neighbors['stdout_lines'][0] }}"
        verbosity: 0


- name: Verify fabric overlay.
  block:

    - name: Get NVE Peers.
      cisco.nxos.nxos_command:
        commands:
          - show nve peers
      register: __verify_nve_peers
      when: verify_network_role is ansible.builtin.search('leaf')

    - name: Print info about NVE peers.
      ansible.builtin.debug:
        msg: You will not see any peers before hosts-traffic has been initiated between peers.
        verbosity: 0
      run_once: true
      when: verify_network_role is ansible.builtin.search('leaf')

    - name: Print show nve peers.
      ansible.builtin.debug:
        msg: "{{ __verify_nve_peers['stdout_lines'][0] }}"
        verbosity: 0
      when: verify_network_role is ansible.builtin.search('leaf')


    - name: Get EVPN BGP neigbors.
      cisco.nxos.nxos_command:
        commands:
          - show bgp l2vpn evpn summary
      register: __verify_bgp_neighbors

    - name: Print info about EVPN BGP neighbors.
      ansible.builtin.debug:
        msg:
          - Spine (RR) should see all leafs and border-leafs as neighbors.
          - Border-leafs should also see remote border-leafs in separate BGP AS as neighbors.
        verbosity: 0
      run_once: true

    - name: Print show bgp l2vpn evpn summary.
      ansible.builtin.debug:
        msg: "{{ __verify_bgp_neighbors['stdout_lines'][0] }}"
        verbosity: 0


- name: Verify the VXLAN configuration.
  when: verify_network_role is ansible.builtin.search('leaf')
  block:

    - name: Run VXLAN config-check.
      cisco.nxos.nxos_command:
        commands:
          - show consistency-checker vxlan config-check
      register: __verify_config_check
      vars:
        ansible_command_timeout: "{{ __verify_vxlan_config_check_timeout }}"
        ansible_connect_timeout: "{{ __verify_vxlan_config_check_timeout }}"

    - name: Print show consistency-checker vxlan config-check.
      ansible.builtin.debug:
        msg: "{{ __verify_config_check['stdout_lines'][0] }}"
        verbosity: 0


- name: Verify DCI encryption.
  when: verify_network_role is eq('border-leaf')
  block:

    - name: Get MKA summary information.
      cisco.nxos.nxos_command:
        commands:
          - show macsec mka summary
      register: __verify_macsec_mka_summary

    - name: Print info about macsec.
      ansible.builtin.debug:
        msg: DCI interfaces should have status Secured.
        verbosity: 0
      run_once: true

    - name: Print show macsec mka summary.
      ansible.builtin.debug:
        msg: "{{ __verify_macsec_mka_summary['stdout_lines'][0] }}"
        verbosity: 0
