- name: {{ underlay_rid_if }}
  ipv4:
    - address: {{ underlay_rid_ip }}/{{ underlay_rid_mask }}
- name: {{ underlay_vtep_if }}
  ipv4:
    - address: {{ underlay_vtep_ip }}/{{ underlay_vtep_mask }}
{% if vpc_domain is defined %}
    - address: {{ underlay_vtep_secondary_ip }}/{{ underlay_vtep_mask }}
      secondary: true
{% endif %}
