---
# Argument specification file for verify

argument_specs:
  main:
    options:

      verify_network_role:
        type: str
        choices:
          - spine
          - leaf
          - service-leaf
          - border-leaf
