---
# tasks file for dci

- name: Configure DCI.
  when: network_role is eq('border-leaf')
  block:

    - name: Configure DCI underlay.
      ansible.builtin.include_tasks:
        file: underlay.yml

    - name: Configure DCI overlay.
      ansible.builtin.include_tasks:
        file: overlay.yml

    - name: Configure DCI encryption.
      ansible.builtin.include_tasks:
        file: encryption.yml
