{% for dci_item in dci_interfaces %}
- name: {{ dci_item['name'] }}
  evpn_multisite_tracking: dci-tracking
{% endfor %}
{% for dci_item in dci_fabric_interfaces %}
- name: {{ dci_item['name'] }}
  evpn_multisite_tracking: fabric-tracking
{% endfor %}
