as_number: {{ dci_bgp_asn }}
neighbors:
{% for dci_item in dci_overlay_bgp_neighbors %}
  - neighbor_address: {{ dci_item['neighbor_ip'] }}
    address_family:
      - afi: l2vpn
        safi: evpn
        send_community:
          both: true
        rewrite_evpn_rt_asn: true
{% endfor %}
