as_number: {{ dci_bgp_asn }}
neighbors:
{% for dci_item in dci_underlay_bgp_neighbors %}
  - neighbor_address: {{ dci_item['neighbor_ip'] }}
    address_family:
      - afi: ipv4
        safi: unicast
{% endfor %}
