{% for host_segments_item in host_segments_l3 %}
vlan {{ host_segments_item['vlan_id'] }}
  name {{ host_segments_item['vlan_name'] }}
  vn-segment {{ host_segments_item['vni_id'] }}
interface Vlan{{ host_segments_item['vlan_id'] }}
  vrf member {{ host_segments_item['vrf'] }}
  mtu {{ __host_segments_mtu }}
  fabric forwarding mode anycast-gateway
  ip address {{ host_segments_item['vlan_svi_ip'] }} tag {{ __host_segments_rmap_host_svi_tag }}
  no ip redirects
  no shutdown
interface nve1
  member vni {{ host_segments_item['vni_id'] }}
    suppress-arp
{% if host_segments_network_role is eq('border-leaf') %}
    multisite ingress-replication
{% endif %}
evpn
  vni {{ host_segments_item['vni_id'] }} l2
    rd auto
    route-target import auto
    route-target export auto
{% endfor %}
