---
# tasks file for underlay

- name: leaf | Enable features.
  cisco.nxos.nxos_feature:
    feature: "{{ underlay_item }}"
    state: enabled
  loop:
    - interface-vlan
    - ospf
    - pim
  loop_control:
    loop_var: underlay_item
  check_mode: false
  notify: Save nxos.

- name: leaf | Create L3 RID and VTEP loopbacks. Enable and set physical fabric interfaces in L3 mode. Ensure jumbo MTU.
  cisco.nxos.nxos_interfaces:
    config: "{{ lookup('ansible.builtin.template', 'interfaces.j2') | ansible.builtin.from_yaml }}"
    state: merged
  notify: Save nxos.

- name: leaf | Assign IP address to L3 RID and VTEP loopback interfaces.
  cisco.nxos.nxos_l3_interfaces:
    config: "{{ lookup('ansible.builtin.template', 'leaf_l3_interfaces.j2') | ansible.builtin.from_yaml }}"
    state: merged
  notify: Save nxos.

- name: leaf | Ensure physical L3 fabric interfaces have medium p2p and IP unnumbered parameters.
  ansible.netcommon.cli_config:
    config: "{{ lookup('ansible.builtin.template', 'p2p.j2') }}"
  notify: Save nxos.

- name: leaf | Set OSPF Process-ID and Router-ID and log adjacency changes.
  cisco.nxos.nxos_ospfv2:
    config:
      processes:
        - process_id: "{{ __underlay_ospf_process_id }}"
          router_id: "{{ underlay_rid_ip }}"
          log_adjacency_changes:
            detail: true
    state: merged
  notify: Save nxos.

- name: leaf | Associate fabric interfaces with OSFP process.
  cisco.nxos.nxos_ospf_interfaces:
    config: "{{ lookup('ansible.builtin.template', 'ospf_interfaces.j2') | ansible.builtin.from_yaml }}"
    state: merged
  notify: Save nxos.

- name: leaf | Configure static PIM anycast RP for group range.
  cisco.nxos.nxos_pim_rp_address:
    rp_address: "{{ underlay_pim_ip }}"
    group_list: "{{ underlay_pim_group_range }}"
    state: present
  notify: Save nxos.

- name: leaf | Ensure PIM sparse mode is running on L3 RID and VTEP loopback interface.
  cisco.nxos.nxos_pim_interface:
    interface: "{{ underlay_item }}"
    sparse: true
    state: present
  loop:
    - "{{ underlay_rid_if }}"
    - "{{ underlay_vtep_if }}"
  loop_control:
    loop_var: underlay_item
  notify: Save nxos.

- name: leaf | Ensure PIM sparse mode is running on L3 fabric interfaces.
  cisco.nxos.nxos_pim_interface:
    interface: "{{ underlay_item['name'] }}"
    sparse: true
    state: present
  loop: "{{ underlay_fabric_interfaces }}"
  loop_control:
    loop_var: underlay_item
    label: "{{ underlay_item['name'] }}"
  notify: Save nxos.


- name: leaf | Use vPC Peer-link as underlay backup path.
  when: underlay_vpc_domain is defined
  block:

    - name: leaf | Define a non-VXLAN enabled VLAN as backup routed path.
      cisco.nxos.nxos_config:
        lines:
          - "system nve infra-vlans {{ underlay_vpc_nve_vlan }}"
      notify: Save nxos.

    - name: leaf | Create VLAN for NVE-infra.
      cisco.nxos.nxos_vlans:
        config:
          - vlan_id: "{{ underlay_vpc_nve_vlan }}"
            name: "BACKUP_VLAN_ROUTING_NVE_INFRA"
        state: merged
      notify: Save nxos.

    - name: leaf | Create SVI for NVE-infra. Ensure jumbo MTU. Ensure interface description.
      cisco.nxos.nxos_interfaces:
        config:
          - name: "Vlan{{ underlay_vpc_nve_vlan }}"
            description: "BACKUP VLAN ROUTING NVE-INFRA"
            mtu: "{{ __underlay_mtu }}"
            enabled: true
        state: merged
      notify: Save nxos.

    - name: leaf | Set IP address on SVI for NVE-infra.
      cisco.nxos.nxos_l3_interfaces:
        config:
          - name: "Vlan{{ underlay_vpc_nve_vlan }}"
            ipv4:
              - address: "{{ underlay_vpc_nve_ip }}/24"
            redirects: false
        state: merged
      notify: Save nxos.

    - name: leaf | Associate NVE-infra interface with OSFP process.
      cisco.nxos.nxos_ospf_interfaces:
        config:
          - name: "Vlan{{ underlay_vpc_nve_vlan }}"
            address_family:
              - afi: ipv4
                network: point-to-point
                processes:
                  - process_id: "{{ __underlay_ospf_process_id }}"
                    area:
                      area_id: "{{ __underlay_ospf_area_id }}"
        state: merged
      notify: Save nxos.

    - name: leaf | Ensure PIM sparse mode is running on NVE-infra interface.
      cisco.nxos.nxos_pim_interface:
        interface: "Vlan{{ underlay_vpc_nve_vlan }}"
        sparse: true
        state: present
      notify: Save nxos.
