{% for overlay_item in overlay_bgp_neighbors %}
as_number: "{{ overlay_bgp_asn }}"
neighbors:
  - neighbor_address: "{{ overlay_item['ip'] }}"
    address_family:
      - afi: l2vpn
        safi: evpn
{% if network_role is eq('spine') %}
        route_reflector_client: true
{% endif %}
        send_community:
          both: true
{% endfor %}
